@(video: Video)

@main("YouLearn! Videos") {
    <h3>@video.title</h3>
    <video class="video-js vjs-default-skin" controls
    preload="auto" width="640" height="320"
    data-setup="{}">
        <source src="@routes.Videos.getVideoContent(video.id, "video/mp4")" type='video/mp4'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
    <p>By @video.uploadedBy.name, @video.totalViews views</p>
}